body{
    animation: rainbowColorChange 20s linear infinite; 
    border-radius: 10px; 
    background: linear-gradient(135deg, red, orange, yellow, green, blue, indigo, violet, red);
    background-size: 1600% 1600%; 
    animation-fill-mode: forwards; 
}

@keyframes rainbowColorChange {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}
#port{
    color: aliceblue;
    position: relative;
    left: 350px;
    top: 10px;
    font-size: 50px;
    font-family: 'Kavoon', cursive;
    -webkit-text-stroke-color:black  ;
    -webkit-text-stroke-width:2px ;


    
}
#port:hover{
    color: rgb(232, 10, 10);
}
#text:hover{
    color: rgb(232, 10, 10);
}
#text{
    color: aliceblue;
    font-size: 30px;
    text-align: left;
    position: relative;
    left: 800px;
    bottom: 85px;
    font-size: 50px;  
    font-family: 'Kavoon', cursive;
    -webkit-text-stroke-color:black  ;
    -webkit-text-stroke-width:2px ; 

}
.text{
    position: relative;
    left: 600px;
    bottom: 300px;
    font-size: 30px;  
    color: rgb(255, 255, 255);
    font-family: 'Kavoon', cursive;
    -webkit-text-stroke-color:black  ;
    -webkit-text-stroke-width:0.1px ; 
    

    
}



