body{
    background-color: #FEE7AC;
}

.box {
    background-color: #98FFA2;
    width: 500px;
    height: 723px;

}
#profilepic{
    width: 100px;
    height: 100px;
}
#profile{
    font-family: 'Kavoon', cursive;
    position: relative;
    left: 200px;
    bottom: 100px;
    font-size: 43px;
    -webkit-text-stroke-color:black  ;
    -webkit-text-stroke-width:0.5px ;

}
#profile:hover{
    color: white;
}
#home{
    font-family: 'Kavoon', cursive;
    position: relative;
    left: 210px;
    bottom: 50px;
    font-size: 43px;
    -webkit-text-stroke-color:black  ;
    -webkit-text-stroke-width:0.5px ;

}
#home:hover{
    color: white;
}

#setting{
    font-family: 'Kavoon', cursive;
    position: relative;
    left: 190px;
    bottom: 1px;
    font-size: 43px;
    -webkit-text-stroke-color:black  ;
    -webkit-text-stroke-width:0.5px ;

}
#setting:hover{
    color: white;
}

#signout{
    font-family: 'Kavoon', cursive;
    position: relative;
    left: 180px;
    top: 50px;
    font-size: 43px;
    -webkit-text-stroke-color:black  ;
    -webkit-text-stroke-width:0.5px ;

}
#signout:hover{
    color: white;
}

#ellis{
    position: relative;
    left: 850px;
    bottom: 550px;
    width: 300px;
    height: 300px;
}
#name{
    font-family: 'Kavoon', cursive;
    position: relative;
    left: 870px;
    bottom: 600px;
    font-size: 35px;
    -webkit-text-stroke-color:black  ;
    -webkit-text-stroke-width:0.5px ;

}
#date{
    font-family: 'Kavoon', cursive;
    position: relative;
    left: 550px;
    bottom: 600px;
    font-size: 25px;
    -webkit-text-stroke-color:black  ;
    -webkit-text-stroke-width:0.5px ;

}
#gender{
    font-family: 'Kavoon', cursive;
    position: relative;
    left: 550px;
    bottom: 600px;
    font-size: 25px;
    -webkit-text-stroke-color:black  ;
    -webkit-text-stroke-width:0.5px ;

}
.box2{
    width: 950px;
    height: 210px;
    background-color: #95C4FC;
    position: relative;
    right: 465px;
    top: 5px;
    font-size: 25px;
    
}
.box2 p{
    color: white;
    text-align: center;
    
}
#bio{
    font-family: 'Kavoon', cursive;
    position: relative;
    left: 1000px;
    bottom: 600px;
    font-size: 45px;
    -webkit-text-stroke-color:black  ;
    -webkit-text-stroke-width:0.5px ;

}