body {
    font-family: Arial, sans-serif;
    background-color: #FEE7AC;
    margin: 0;
    padding: 0;
}

.calendar {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.calendar-header {
    background-color: #007acc;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background-color: #f0f0f0;
}


td:hover {
    background-color: #007acc;
    color: #fff;
    cursor: pointer;
}
.done-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007acc;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.done-button:hover {
    background-color: #0056b3; 
}